@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<p>
    <button class="bth btn-primary" @onclick="holaMundo"> Hola Mundo </button>
    <br />
    <button class="bth btn-primary" @onclick="revisaConexion"> Revisar si hay Internet </button>
</p>

@code {

    private async void holaMundo()
    {
        await Application.Current.MainPage.DisplayAlert("Saludo", "Hola Mundo", "Aceptar");
    }

    private async void revisaConexion()
    {
        var hayInternet = Connectivity.Current.NetworkAccess == NetworkAccess.Internet;
        var tipoInternet = Connectivity.Current.ConnectionProfiles.FirstOrDefault();
        await Application.Current.MainPage.DisplayAlert("Internet", $"Conexión?: {hayInternet},  Tipo: {tipoInternet}", "Aceptar");
    }

}
