@page "/todo"
@using PrimeraMAUIBlazor.Datos;

<h3>Lista de Tareas (@todos.Count(todo => !todo.IsDone))</h3>

<input placeholder="Escriba la tarea" @bind="newTodo" />
<button @onclick="AddTodo">Agregar Tarea</button>

<ul class="list-unstyled">
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}