<script language=javascript>
//<!--

    function Ajax_getJSON_MVC() {

        $.getJSON('http://localhost:50516/Home/IndexJson',

        function (data) {

            ImprTablaJson(data);

        });//end 

    }//Fin Ajax_getJSON_MVC  =============================================

   function Ajax_MVC() {
       try {
            $.ajax({
                url: '@Url.Action("IndexJson", "Home")'

            }).done(function (data) {
                ImprComboJson(data);
            });
        } catch (err) {
            alert(err);
        }// fin catch
   } //fin Ajax_MVC =====================================================


    function Ajax_MVC_Completo() {
        try {
            $.ajax({
                url: '@Url.Action("IndexJson", "Home")',
                context: document.body
            })
            .done(function (data) {
                ImprComboJson(data);
            })
            .fail(function () {
                alert("Ocurrio un Error");
            })
            .always(function () {
                alert("Ha finalizado la llamada Ajax");
            });
        } catch (err) {
            alert(err);
        }// fin catch
    } //fin Ajax_MVC =====================================================
   

    function ImprTablaJson(ObjetoJSON) {
        document.write("<h2>Usando $.getJSON</h2>");
        document.write("<table border=1><tr><th>Cedula</th><th>Nombre</th></tr>");
        for (i = 0; i < ObjetoJSON.length; i++) {
            document.write("<tr><td>");
            document.write(ObjetoJSON[i].Cedula);
            document.write("</td><td>");
            document.write(ObjetoJSON[i].Nombre);
            document.write("</td></tr>");
        }
        document.write("</table>");
    }//Fin ImprTablaJson ================================================

    function ImprComboJson(ObjetoJSON) {
        document.write("<h2>Usando $.ajax</h2>");
        document.write("<select>");
        for (i = 0; i < ObjetoJSON.length; i++) {
            document.write('<option value="');
            document.write(ObjetoJSON[i].Cedula);
            document.write('">');
            document.write(ObjetoJSON[i].Nombre);
            document.write("</option>");
        }
        document.write("</select> <br>");
    }//Fin ImprTablaJson ================================================

    //Activamos las Funciones que hacen las llamadas Ajax
    
    Ajax_MVC();    
    Ajax_getJSON_MVC();   
    Ajax_MVC_Completo()
//-->
</script>