@{
    ViewBag.Title = "VistaAjaxJS";
}

<script type="text/javascript">
    
    var peticion_http;
    var ObjetoJSON;
        
        function Obtiene_XMLHttp() {// Obtener la instancia del objeto XMLHttp              
            if (window.XMLHttpRequest) { // Navegadores que siguen los estándares
                peticion_http = new XMLHttpRequest();
            }
            else if (window.ActiveXObject) { // Navegadores obsoletos
                peticion_http = new ActiveXObject("Microsoft.XMLHTTP");
            }
        }//Fin Obtiene_XMLHttp ===================================================

        function Realiza_Peticion_HTTP(metodo, url, parametros) {
            peticion_http.open(metodo, url, true);
            peticion_http.send(parametros);
        }//Fin Realiza_Peticion_HTTP =============================================

        function Mostrar_Contenido() {
            if (peticion_http.readyState == 4) {
                if (peticion_http.status == 200) {
                    ObjetoJSON = JSON.parse(peticion_http.responseText);
                    ImprTablaJson(ObjetoJSON);
                }
            }
        }//Fin muestraContenido  =================================================
        

        function AjaxMVC_JavaScript() {

          Obtiene_XMLHttp(); 
          //(Cuando se recibe respuesta del servidor, se ejecuta la función "Mostrar_Contenido") 
          peticion_http.onreadystatechange = Mostrar_Contenido;
          
          Realiza_Peticion_HTTP('GET', '@Url.Action("IndexJson", "Home")', null);

        }//Fin AjaxMVC_JavaScript  ===============================================

        function ImprTablaJson(ObjetoJSON) {
            document.write("<h2>Usando Ajax con JS</h2>");
            document.write("<table border=1><tr><th>Cedula</th><th>Nombre</th></tr>");
            for (i = 0; i < ObjetoJSON.length; i++) {
                document.write("<tr><td>");
                document.write(ObjetoJSON[i].Cedula);
                document.write("</td><td>");
                document.write(ObjetoJSON[i].Nombre);
                document.write("</td></tr>");
            }
            document.write("</table>");
        }//Fin ImprTablaJson ================================================

        window.onload = AjaxMVC_JavaScript;
</script>

