<h2>VistaJson</h2>

<script language=javascript>
<!--

    function Ajax_getJSON_MVC() {

        $.getJSON('@Url.Action("IndexJson", "Home")',

        function (data) {

            ImprTablaJson(data);

        });//end

    }//Fin Ajax_getJSON_MVC  =============================================

   function Ajax_MVC() {
       try {
            $.ajax({
                url: '@Url.Action("IndexJson", "Home")',

            }).done(function (data) {

                ImprComboJson(data);

            });
        } catch (err) {
            alert(err);
        }// fin catch
   } //fin Ajax_MVC =====================================================

    function ImprTablaJson(ObjetoJSON) {
        document.write("<table border=1><tr><th>Cedula</th><th>Nombre</th></tr>");
        for (i = 0; i < ObjetoJSON.length; i++) {
            document.write("<tr><td>");
            document.write(ObjetoJSON[i].Cedula);
            document.write("</td><td>");
            document.write(ObjetoJSON[i].Nombre);
            document.write("</td></tr>");
        }
        document.write("</table>");
    }//Fin ImprTablaJson ================================================

    function ImprComboJson(ObjetoJSON) {
        document.write("<select>");
        for (i = 0; i < ObjetoJSON.length; i++) {
            document.write('<option value="');
            document.write(ObjetoJSON[i].Cedula);
            document.write('">');
            document.write(ObjetoJSON[i].Nombre);
            document.write("</option>");
        }
        document.write("</select> <br>");
    }//Fin ImprTablaJson ================================================

    //Activamos las Funciones que hacen las llamadas Ajax
    Ajax_MVC();
    Ajax_getJSON_MVC();
//-->
</script>