@{
    ViewBag.Title = "Página principal";
}

<h2>@ViewBag.Message</h2>
<h2>@ViewData["Mensaje"]</h2>

<p>
    Creamos dinámicamente un campo de texto
    con la propiedad "Html"

    @Html.TextBox("Campo de Texto")

</p>